<div class="container">
  <h1>Campaigns List</h1>
  <div class="row">
    <dl class="col-9">
      <a [routerLink]="['/campaign-create']" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Add new</span>
      </a>
    </dl>
    <div class="list col-3"> 
      <p style="font-weight:bold" class="btn-lg" *ngIf="resources !=null">Saldo: {{ resources[0].saldo }}</p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Keywords</th>
        <th>Bid Amount</th>
        <th>Fund</th>
        <th>Status</th>
        <th>Town</th>
        <th>Radius [km]</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campaign of campaigns">
        <td>{{ campaign.name }}</td>
        <td>{{ campaign.keywords }}</td>
        <td>{{ campaign.bid_Amount }}</td>
        <td>{{ campaign.fund }}</td>
        <td>{{ campaign.status }}</td>
        <td>{{ campaign.town }}</td>
        <td>{{ campaign.radius}}</td>
        <td><a [routerLink]="['/campaign-detail', campaign.id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>