<div class="container">
  <h1>Add New Campaign</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveCampaign()" #campaignForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="campaign.name" name="name" required>
          <small class="form-text text-muted">Must be 3-20 characters long.</small>
        </div>
        <div class="form-group">
          <label for="name">Keywords</label>
          <input id="typeahead-format" type="text" class="form-control" placeholder="Enter keywords" [(ngModel)]="campaign.keywords" [ngbTypeahead]="search" name="keywords" required/>
          <!-- <input type="text" class="form-control" placeholder="Enter keywords" [(ngModel)]="campaign.keywords" name="keywords" required> -->
        </div>
        <div class="form-group">
          <label for="name">Bid Amount</label>
          <input type="number" class="form-control" placeholder="Enter bid amount" [(ngModel)]="campaign.bid_Amount" name="bid_Amount" required min="1000">
          <small class="form-text text-muted">The minimum amount is entered.</small>
        </div>
        <div class="form-group">
          <label for="name">Fund</label>
          <input type="number" class="form-control" placeholder="Enter campaign fund" [(ngModel)]="campaign.fund" name="fund" required>
        </div>
        <div class="form-check mr-sm-2">
          <input type="checkbox" class="form-check-input" [(ngModel)]="campaign.status" name="status" required>
          <label for="name">Status</label> 
        </div>
        <!-- <div>
          <input type="text" class="form-control" placeholder="Enter status" [(ngModel)]="campaign.status" name="status" required>
        </div> -->
        <div class="form-group">
          <label for="name">Town</label>
          <select type="text" class="form-control" placeholder="Enter town" [(ngModel)]="campaign.town" name="town">
              <option>Kraków</option>
              <option>Katowice</option>
              <option>Warszawa</option>
              <option>Wrocław</option>
              <option>Poznań</option>
              <option>Żywiec</option>
            </select>
        </div>
        <div class="form-group">
          <label for="name">Radius [km]</label>
          <input type="number" class="form-control" placeholder="Enter radius" [(ngModel)]="campaign.radius" name="radius" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
           <a [routerLink]="['/campaign']" class="btn btn-warning">Back without save</a>
        </div>
      </form>
    </div>
    <div class="col-md-6"> 
      <p style="font-weight:bold" class="btn-lg" *ngIf="resources !=null">Saldo: {{ resources[0].saldo }}</p>
    </div>
  </div>
</div>