<div class="container">
  <h1>Campaign: {{ campaign.name }}</h1>
  <div class="row">
    <dl class="col-3">
        <dt>Keywords</dt>
        <dd>{{ campaign.keywords }}</dd>
    </dl>
    <dl class="col-3">
        <dt>Bid Amount</dt>
        <dd>{{ campaign.bid_Amount }}</dd>
      </dl>
    <dl class="col-3">
        <dt>Fund</dt>
        <dd>{{ campaign.fund }}</dd>
      </dl>
  </div>
  <div class="row">
      <dl class="col-3">
          <dt>Status</dt>
          <dd>{{ campaign.status }}</dd>
      </dl>
      <dl class="col-3">
          <dt>Town</dt>
          <dd>{{ campaign.town }}</dd>
        </dl>
      <dl class="col-3">
          <dt>Radius [km]</dt>
          <dd>{{ campaign.radius }}</dd>
        </dl>
    </div>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/campaign-edit', campaign.id]" class="btn btn-success">Edit</a>
      <button class="btn btn-danger" type="button" (click)="deleteCampaign(campaign.id)">Delete</button>
      <a [routerLink]="['/campaign']" class="btn btn-info">Back</a>
    </div>
  </div>
</div>