<div class="container">
  <h1>Edit Campaign</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateCampaign(campaign.id)" #contactForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="campaign.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Keywords</label>
          <input id="typeahead-format" type="text" class="form-control" placeholder="Enter keywords" [(ngModel)]="campaign.keywords" [ngbTypeahead]="search" name="keywords" required/>
          <!-- <input type="text" class="form-control" placeholder="Enter keywords" [(ngModel)]="campaign.keywords" name="keywords" required> -->
        </div>
        <div class="form-group">
          <label for="name">Bid Amount</label>
          <input type="number" class="form-control" placeholder="Enter bid amount" [(ngModel)]="campaign.bid_Amount" name="bid_Amount" required>
        </div>
        <div class="form-group">
          <label for="name">Fund</label>
          <input type="number" class="form-control" placeholder="Enter campaign fund" [(ngModel)]="campaign.fund" name="fund" required>
        </div>
        <div class="form-group">
          <label for="name">Status</label>
          <input type="text" class="form-control" placeholder="Enter status" [(ngModel)]="campaign.status" name="status" required>
        </div>
        <div class="form-group">
          <label for="name">Town</label>
          <select type="text" class="form-control" placeholder="Enter town" [(ngModel)]="campaign.town" name="town">
              <option>Kraków</option>
              <option>Katowice</option>
              <option>Warszawa</option>
              <option>Wrocław</option>
              <option>Poznań</option>
              <option>Żywiec</option>
            </select>
        </div>
        <div class="form-group">
          <label for="name">Radius</label>
          <input type="number" class="form-control" placeholder="Enter radius" [(ngModel)]="campaign.radius" name="radius" required>
        </div>
        <div class="form-group">
           <button type="submit" class="btn btn-success" ng-disabled="!campaignForm.form.valid">Update</button>
          <a [routerLink]="['/campaign']" class="btn btn-warning">Back without update</a>
        </div>
      </form>
    </div>
  </div>
</div>